extends layout

block content
    .flex.justify-center.items-center.h-screen
        .bg-gray-700.p-6.rounded-lg.shadow-lg
            form(method='post', action='/change-password')
                .mb-4
                    label(for='newPassword', class="block text-sm font-bold mb-2 text-gray-300") New Password
                    input#newPassword(type='password', name='newPassword', required, class="mt-1 block w-full bg-gray-600 border border-gray-500 rounded-lg shadow-sm py-2 px-3 text-white focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-blue-500")
                .flex.items-center.justify-between
                    button(class="bg-blue-600 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-lg transition-colors focus:outline-none focus:ring-2 focus:ring-blue-500", type='submit') Change Password
