extends layout

block content
    .container.mx-auto.px-4.py-8
        .max-w-md.mx-auto
            h1.text-3xl.font-bold.text-white.mb-8 Edit Payment
            .bg-gray-700.p-6.rounded-lg.shadow-lg
                form(method='post', action='/edit-payment/' + payment.id)
                    .mb-4
                        label(for='date').block.text-sm.font-bold.mb-2 Payment Date
                        input#date(type='date', name='date', value=payment.date, class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline")
                    .mb-4
                        label(for='amount').block.text-sm.font-bold.mb-2 Amount
                        input#amount(type='number', name='amount', min='0', value=payment.amount, class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline")
                    .flex.items-center.justify-between
                        button(type='submit', class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline") Update Payment
                        a(href='/rider/' + riderId + '/payments', class="bg-gray-500 hover:bg-gray-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline") Back
